service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if request.auth.uid != null;
    }
    
    match /foods/{food} {
    	allow create: if isAuthenticated() && meetsFoodSchema();
      allow delete: if isAuthenticated();
      allow update: if isAuthenticated() && meetsFoodSchema();
    }

    match /users/{id}/diary/{entry} {
      allow write: if isAuthenticatedUser(id);
    }

    function isAuthenticatedUser(id) {
      return request.auth.uid == id;
    }
  
    function isAuthenticated() {
      return request.auth.uid != null;
    }    

    function meetsFoodSchema() {
       return request.resource.data.keys().hasOnly(['name', 'searchableName', 'brand', 'proteins', 'carbs', 'fats']) &&
       request.resource.data.name.size() >= 3 &&
       request.resource.data.proteins >= 0 &&
       request.resource.data.carbs >= 0 &&
       request.resource.data.fats >= 0;
    }
  }
}