.toolbar {
    justify-content: space-between;
}

.toolbar-item {
    flex: 1 1 auto;
}

.toolbar-title {
    flex-grow: 8;
    text-align: center;
}

.edit-card {
    margin: 20px;
    margin-top: 30px;
}

::ng-deep div.mat-form-field-infix {
    width: 30px;
}

.label {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.label-favourite {
    flex-basis: 20%;
    justify-content: flex-start;
}

.label-field {
    font-weight: 500;
    font-size: 110%;
    flex-basis: 60%;
    text-align: center;
    min-width: 25ch;
    max-width: 30ch;
}

.label-details {
    flex-basis: 20%;
    justify-content: flex-end;
}

.macronutrients-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.macronutrients-item {
    flex-basis: 25%;
}

.nutrient-details-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sugars-item {
    flex-basis: 30%;
}

.fats-item {
    flex-basis: 25%;
}

section.actions {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

section.actions button {
    flex: 0 1 auto;
}
