<mat-toolbar color="primary">
  <button class="toolbar-menu" mat-icon-button (click)="uiService.openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h3 class="toolbar-title">Foods</h3>
  <span class="toolbar-actions">
    <a mat-icon-button routerLink="/add-food" routerLinkActive="active">
      <mat-icon>add</mat-icon>
    </a>
  </span>
</mat-toolbar>

<section>
  <section #tableControls class="table-controls">
    <mat-form-field class="table-filter">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <mat-form-field class="table-selector">
      <mat-select [formControl]="columnSelector" required>
        <mat-option *ngFor="let selection of availableColumnSets | keyvalue" [value]="selection.key">{{selection.key}}</mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <mat-divider></mat-divider>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0">

    <ng-container [matColumnDef]="column" *ngFor="let column of selectedColumns">
      <mat-header-cell mat-header-cell mat-sort-header *matHeaderCellDef [ngClass]="column">
        {{columnNames.get(column)}} </mat-header-cell>
      <mat-cell [ngClass]="column" *matCellDef="let element">{{format(column, element[column])}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="selectedColumns"></mat-header-row>
    <mat-row *matRowDef="let food; columns: selectedColumns;" (click)="edit(food)" matRipple></mat-row>
  </mat-table>

  <mat-paginator class="paginator" showFirstLastButtons hidePageSize>
  </mat-paginator>

  <mat-divider></mat-divider>
</section>