<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" role="navigation">
        <mat-nav-list>
            <app-signout></app-signout>

            <!-- routerLink is needed in concomitance with anchors to allow keyboard navigation with tab -->

            <mat-divider></mat-divider>
            <h3 mat-subheader>Diary</h3>
            <a mat-list-item routerLink cdkFocusRegionStart (click)="calendar.gotoDate(calendar.yesterday)">
                <mat-icon mat-list-icon>calendar_today</mat-icon>
                <h4 mat-line>Yesterday</h4>
                <p mat-line> {{calendar.yesterday | date}} </p>
            </a>
            <a mat-list-item routerLink cdkFocusInitial (click)="calendar.gotoDate(calendar.today)">
                <mat-icon mat-list-icon>today</mat-icon>
                <h4 mat-line>Today</h4>
                <p mat-line> {{calendar.today | date}} </p>
            </a>
            <a mat-list-item routerLink (click)="calendar.gotoDate(calendar.tomorrow)">
                <mat-icon mat-list-icon>calendar_today</mat-icon>
                <h4 mat-line>Tomorrow</h4>
                <p mat-line> {{calendar.tomorrow | date}} </p>
            </a>

            <mat-divider></mat-divider>
            <h3 mat-subheader>Tables</h3>
            <a mat-list-item routerLink="/foods" routerLinkActive="active">
                <mat-icon mat-list-icon>table_chart</mat-icon>
                <h4 mat-line>Foods</h4>
            </a>
            <a mat-list-item routerLink cdkFocusRegionEnd>
                <mat-icon mat-list-icon>table_chart</mat-icon>
                <h4 mat-line>Recipes</h4>
            </a>
            <mat-divider></mat-divider>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>