<mat-toolbar color="primary">
  <button class="toolbar-item" mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-form-field>
    <mat-select [formControl]="mealSelector">
      <mat-optgroup *ngIf="planner.recordedMeals?.length > 0" label="Recorded">
        <mat-option *ngFor="let recordedMeal of planner.recordedMeals" [value]="recordedMeal">
          {{planner.getMealName(recordedMeal)}}
        </mat-option>
      </mat-optgroup>
      <mat-optgroup *ngIf="planner.availableMeals?.length > 0" label="New">
        <mat-option *ngFor="let newMeal of planner.availableMeals" [value]="newMeal">
          {{planner.getMealName(newMeal)}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<mat-tab-group>

  <mat-tab label="Search">
    <form>
      <mat-form-field class="search" appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="search" matInput [formControl]="searchBox" autocomplete="off" (keyup)="search($event)">
        <button matSuffix mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <section>
      <mat-list>
        <a mat-list-item class="search-items" *ngFor="let food of filteredFoods$ | async" [routerLink]="[food.id]"
          routerLinkActive="active">
          <span class="search-item-name">{{food.name}}</span>
          <span class="search-item-calories">{{food.approximateCalories}}</span>
        </a>
      </mat-list>
    </section>

    <mat-divider></mat-divider>

  </mat-tab>

  <mat-tab label="Recents">Recents</mat-tab>
  <mat-tab label="Favourites">Favourites</mat-tab>
</mat-tab-group>