<mat-toolbar color="primary">
  <button class="toolbar-item" mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-form-field>
    <mat-select [formControl]="mealSelector">
      <mat-select-trigger>
        <span class="select-entry">
          <span>{{planner.getMealName(mealSelector.value)}}</span><span class="meals-number">({{mealNumbers[mealSelector.value]}})</span>
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let availableMeal of availableMeals" [value]="availableMeal">
        <span class="select-entry">
          <span>{{planner.getMealName(availableMeal)}}</span><span class="meals-number">({{mealNumbers[availableMeal]}})</span>
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<form class="search-container">
  <mat-form-field class="search" appearance="outline">
    <mat-label>Search</mat-label>
    <input type="search" matInput [formControl]="searchBox" autocomplete="off" (keyup)="search($event)">
    <button matSuffix mat-icon-button (click)="resetSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>

<ng-container *ngIf="filteredFoods$ | async as filteredFoods">
  <section *ngIf="filteredFoods.length > 0">
    <div class="search-item" *ngFor="let food of filteredFoods" (click)="proceedWithSelection(food)" matRipple>
      <mat-icon class="search-item-icon" matListIcon>bookmark</mat-icon>
      <span class="search-item-name">{{food.name}}</span>
      <span class="search-item-calories">{{food.approximateCalories}}</span>
    </div>
  </section>

  <section class="no-results" *ngIf="filteredFoods.length === 0 && searchBox.value !== ''">
    <span class="no-results-message">No matching food found</span>
    <button mat-raised-button color="primary" (click)="startFoodCreation()">New Food</button>
  </section>
</ng-container>