<h2 mat-dialog-title>Add portion of <em>{{food.name}}</em></h2>
<mat-dialog-content (keyup.enter)="onEnter()">
  <mat-form-field class="search" appearance="outline">
    <mat-label>Quantity</mat-label>
    <input type="number" matInput [(ngModel)]="data.quantity" autocomplete="off" min="0" max="1000">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Discard</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="data">Add</button>
</mat-dialog-actions>